@import '../../../../constants';

.a{
  margin: 130px 35px;
}
.b{
  position: relative;
  background: $red;
  margin: 0 -15px 100px;
  padding: 30px 25px 0 225px;
  &::before{
	content: '';
	display: block;
	background-image: url('/images/home_nuevoEntrante.png');
	position: absolute;
  	height: 391px;
  	width: 584px;
  	background-size: 100% 100%;
  	left: -24px;
  	bottom: -71px;
  }
  &::after{
  	content: '';
  	position: absolute;
  	@extend .icon-elements;
    @include sprite($elements-yellow_corner);
    top: -13px;
    right: -12px;
  }
}
.c{
	margin: 0 35px;
}
.c2{
  @extend .vCenter;
  margin: 0 35px;
}
.c3{
  @extend .c;
  margin-top: 30px;
}
.c4{
  @extend .c;
  margin-right: 0;
}
.c5{
  margin: 50px 0 100px;
}
.c6 {
  margin: 0 0 0 110px;
}
.d{
  background: $red;
  padding: 50px 50px 25px 190px;
  margin: 0 -15px 50px;
  @include border-radius(0 0 0 40px);
  &::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
  	@extend .icon-elements;
    @include sprite($elements-red_truck_small);
  }
  &::after{
  	content: '';
  	position: absolute;
  	@extend .icon-elements;
    @include sprite($elements-yellow_corner);
    top: -13px;
    right: -12px;
  }
}
.e{
	margin: 100px 0 0 190px;
	&::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 80px;
  	@extend .icon-elements;
    @include sprite($elements-red_exclamation_bubble);
  }
}
.f{
  background: $purple;
  padding: 70px 0 100px;
}
.g{
  @extend .icon-elements;
  @include sprite($elements-ibk);
  margin-bottom: 35px;
}
.h{
  height: 256px;
  margin: 0 -15px;
  &:hover{
    &::before{
      opacity: 0.6;
    }
  }
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.h1{
  @extend .h;
  height: 512px;
  margin: 0 -15px;
  &::before{
    background-image: url('/images/banner_servicio.jpg');
  }

}
.h2{
  @extend .h;
  &::before{
    background-image: url('/images/banner_permisos.jpg');
  }
}
.h3{
  @extend .h;
  &::before{
    background-image: url('/images/banner_tramites.jpg');
  }
}
.h4{
  @extend .h;
  &::before{
    background-image: url('/images/banner_seguros.jpg');
  }
}
.i{
  background: $red;
  margin: 0 -15px 0 -75px;
  @include border-radius(0 0 0 40px);
  padding: 50px 30px 0 85px;
  height: 256px;
  &::before{
    content: "";
    @extend .icon-elements;
    @include sprite($elements-yellow_corner);
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.j{
  height: 160px;
}
.k{
  background-color: $darkGray;
  color: $lightGray;
  padding-top: 50px;
}
.l{
  padding-right: 30px;
}
.m{
  background-color: $darkestGray;
  padding: 15px;
  font-size: 10px;
  font-family: $fontA;
  color: $white;
  a{
    color: $white;
    &:hover{
      color: $gray;
    }
  }
}
.n{
  text-align: right;
}
.o{
  @extend .vCenter;
  margin-left: 35px;
}
.p{
  height: 512px;
}
.q{
  margin-bottom: 90px;
  position: relative;
  &::before{
    content: "";
    @extend .icon-aboutus;
    @include sprite($aboutus-big_ass_yellow_decoration);
    position: absolute;
    left: 55%;
    top: -450px;
    z-index: -1000;
  }
}
.r{
  background: $blue;
  padding: 50px 0 80px;
  margin-bottom: 20px;
}
.s{
  background-image: url('/images/aboutus/golden_shower.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -230px;
  padding-top: 230px;
  padding-bottom: 160px;
}
.t{
  background-color: $red;
  padding: 100px 0 40px;
}
.u{
  background-color: $yellow;
  padding: 100px 0;
}
.v{
  background-color: $white;
  padding: 35px 10% 50px;
  margin: 0 -13px 4px -13px;
}
.w{
  background-color: $white;
  padding: 30px 30px 20px;
  min-height: 252px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  h2{
    color: $red;
    font-size: 25px;
  }
  p{
    font-size: 12px;
  }
  &:hover{
    background-color: $darkGray;
    h2{
      color: $white;
    }
    p{
      color: $white;
    }
  }
  &::before{
    content: "";
    margin: 0 auto 20px;
    position: relative;
    @extend .icon-services;
  }
}
.w1{
  @extend .w;
  &:hover{
    &::before{
      @include sprite($services-tramits_white);
    }
  }
  &::before{
    @include sprite($services-tramits_red);
  }
}
.w2{
  @extend .w;
  &:hover{
    &::before{
      @include sprite($services-permits_white);
    }
  }
  &::before{
    @include sprite($services-permits_red);
  }
}
.w3{
  @extend .w;
  &:hover{
    &::before{
      @include sprite($services-insurance_white);
    }
  }
  &::before{
    @include sprite($services-insurance_red);
  }
}
.w4{
  @extend .w;
  &:hover{
    &::before{
      @include sprite($services-consulting_white);
    }
  }
  &::before{
    @include sprite($services-consulting_red);
  }
}
.x{
  background-color: $blue;
  position: absolute;
  width: 90px;
  height: 90px;
  @include border-radius(45px);
  left: 0;
  top: 0;
  span{
    color: $yellow;
    font-family: $fontABold;
    font-size: 50px;
    @extend .fCenter;
  }
}
.y{
  padding-left: 120px;
}
.z{
  margin-bottom: 100px;
}
// Clases engine servicios
.sr1{
  margin: 0 -15px;
  padding: 50px;
  background-color: $red;
  color: $white;
  margin-bottom: 60px;
  &::before {
    content: "";
    @extend .icon-services;
    margin-bottom: 50px;
  }
}
.sr1a{
  @extend .sr1;
  &::before{
    @include sprite($services-white_truck_usa);
  }
}
.sr1b{
  @extend .sr1;
  &::before{
    @include sprite($services-white_truck_mx);
  }
}
.sr1c{
  @extend .sr1;
  &::before{
    @include sprite($services-white_placas_us);
  }
}
.sr1d{
  @extend .sr1;
  &::before{
    @include sprite($services-white_placas_mx);
  }
}
.sr1e{
  @extend .sr1;
  padding-top: 100px;
  &::before{
    display: none!important;
  }
  h2{
    margin-bottom: 25px;
  }
}
.sr1ea{
  @extend .sr1;
  position: relative;
  h2{
    margin-bottom: 50px;
  }
  &::before {
    content: "";
    display: block;
    @extend .icon-services;
    @include sprite($services-consultoria_white);
  } 
}
.sr1eb{
  @extend .sr1;
  h2{
    margin-bottom: 50px;
  }
  &::before {
    content: "";
    display: block;
    @extend .icon-services;
    @include sprite($services-nuevo_entrante_white);
  } 
}
.si{
  @extend .sr1;
  background-color: $blue;
}
.sia{
  @extend .si;
  &::before{
    @include sprite($services-white_truck_insurance_us);
  }
}
.sp{
  @extend .sr1;
  background-color: $yellow;
  &::before{
    @include sprite($services-permisos_usa);
  }
}
.sib{
  @extend .si;
  &::before{
    @include sprite($services-white_truck_insurance_mx);
  }
}
.sr2{
  background-color: $red;
  padding-top: 60px;
  padding-bottom: 40px;
}
.sl{
  padding: 0 50px 0 113px;
  position: relative;
  a{
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 50px;
  }
  h2{
    color: $darkGray;
    font-family: $fontABold; 
    font-size: 30px;
  }
  &::before{
    content: "";
    @extend .icon-services;
    @include sprite($services-white_truck);
    margin-bottom: 30px;
  }
}
.sl1{
  @extend .sl;
  &::before{
    @include sprite($services-big_truck_usa);
  }
}
.sl2{
@extend .sl;
  &::before{
    @include sprite($services-big_truck_mx);
  }
}
.sl3{
@extend .sl;
  &::before{
    @include sprite($services-placas_usa);
  }
}
.sl4{
@extend .sl;
  &::before{
    @include sprite($services-placas_mx);
  }
}
.sl5{
@extend .sl;
  &::before{
    @include sprite($services-permisos_usa);
  }
}
.sl6{
  @extend .sl;
  &::before{
    @include sprite($services-nuevo_entrante);
  }
}
.sl7{
  @extend .sl;
  &::before{
    @include sprite($services-seguros_usa);
  }
}
.sl8{
  @extend .sl;
  &::before{
    @include sprite($services-seguros_mx);
  }
}
.sl9{
  @extend .sl;
  &::before{
    @include sprite($services-consultoria_y);
  }
}
.cb{
  background-color: $mediumLightGray;
  @include border-radius(22px);
  height: 45px;
  position: relative;
  margin-bottom: 50px;
}
@media #{$isTablet}{
  .a{
  	margin: 40px 20px 40px 35px;
  }
}
@media #{$isPhone}{
  .b{
    margin: 0 -15px;
    padding-left: 50px;
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
  }
  .cb{
  margin-top: 100px;
  }
  .d{
    @include border-radius(0);
    padding-left: 50px;
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
  }
  .c6{
    margin-left: 35px;
  }
  .e{
    margin-left: 120px;
    margin-top: 0;
    &::before{
      left: 40px;
      top: 0;
    }
  }
  .g{
    margin-top: 60px;
  }
  .h{
    height: 85px;
    &::before{
      opacity: 0.6;
    }
  }
  .h1{
    height: 511px;
  }
  .i{
    padding: 50px 20px 0 20px;
    margin: 0 -15px;
    @include border-radius(0);
    &::before{
      display: none;
    }
  }
  .q{
    margin-bottom: 50px;
    &::before{
      display: none;
    }
  }
  .s{
    padding-bottom: 80px;
  }
  .w{
    margin-bottom: 100px;
  }
  .sl{
    padding-top: 50px;
    padding-left: 50px;
    a{
      top: 80px;
    }
  }
  .sr1ea, .sr1eb{
    h2{
      font-size: 20px;
      margin-bottom: 25px;
    }
  } 
  .x{
    width: 50px;
    height: 50px;
    span{
      font-size: 20px;
    }
  }
  .y{
    padding-left: 50px;
  }
}

