@import '../../../../constants';

.a{
  font-family: $fontABold;
  color: $blue;
  font-size: 40px;
  margin-bottom: 50px;
}
.a2{
  @extend .a;
  font-size: 25px;
  margin-top: 0;
  text-transform: uppercase;
}
.a3{
  margin-top: 0;
  @extend .a;
  font-size: 25px;
  margin-top: 75px;
}
.a3{
  @extend .a;
  font-size: 30px;
}
.b{
  font-family: $fontABold;
  color: $blue;
  font-size: 35px;
  margin-bottom: 50px;
}
.b2{
  color: $white;
}
.c{
  font-family: $fontABold;
  color: $white;
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 0;
}
.c2{
  @extend .c;
  margin-bottom: 50px;
}
.d{
  font-family: $fontABold;
  color: $white;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 0;
}
.e{
  font-family: $fontABold;
  color: $white;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 0;
}
.e2{
  @extend .e;
  text-align: center;
}
.e3{
  @extend .e;
  color: $yellow;
  text-align: center;
}
.e4{
  @extend .e;
  margin-bottom: 0;
}
.f{
  font-family: $fontABold;
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid $white;
  margin-bottom: 25px;
  padding-bottom: 13px;
  margin-top: 0;
}
.g{
  font-family: $fontABold;
  color: $white;
  font-size: 30px;
  margin-bottom: 17px;
  margin-top: 0;
}
.h{
  font-family: $fontABold;
  font-size: 50px;
  margin-bottom: 50px;
  color: $white;
}
.i{
  font-family: $fontABold;
  font-size: 25px;
  color: $white;
}
.k{
  font-family: $fontABold;
  font-size: 16px;
  color: $darkBlue;
  text-align: center;
  margin-bottom: 10px;
}
.l{
  @extend .vCenter;
  width: 90%;
  font-family: $fontA;
  color: $darkBlue;
  margin-top: 12px;
  font-size: 14px;
  text-align: right;
  padding-right: 12px;
  &:after{
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    display: block;
    @extend .icon-layout;
    @include sprite($layout-yellowFleck_small);
  }
}
.m{
  font-family: $fontABold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 46px 0 17px;
  padding-bottom: 12px;
  color: $white;
  border-bottom: solid 1px $gray;
}
.n{
  color: $yellow;
  position: relative;
  font-size: 9;
  text-transform: uppercase;
  font-family: $fontABold;
  &::after{
    content: "";
    @extend .icon-elements;
    @include sprite($elements-right_arrow_yellow_big);
    display: inline-block;
    margin-left: 15px;
    margin-bottom: -2px;
  }
}
.o{
  font-family: $fontABold;
  font-size: 35px;
  color: $white;

  span{
    color: $yellow;
  }
}
.p{
  float: right;
  display: block;
  background: $yellow;
  padding: 55px 30px 55px 50px;
  border-radius: 0 0 0 45px;
  font-family: $fontA;
  color: $blue;
  font-size: 35px;
  width: 320px;
  margin-top: -120px;
  position: relative;
  max-width: 100%;
  b{
    font-family: $fontABold;
  }
}
@media#{$headerAdjuster}{
  .e4{
    font-size: 20px;
  }
}
@media #{$isPhone}{
  .a{
    font-size: 30px;
  }
  .a3{
    margin-top: 0;
    background: $yellow;
    padding: 50px 30px 50px 35px;
    font-size: 25px;
  }
  .b{
    font-size: 26px;
  }
  .c{
    font-size: 26px;
  }
  .e2{
    font-size: 20px;
  }
  .e4{
    font-size: 18px;
  }
  .d{
    font-size: 25px;
  }
  .p{
    padding: 30px 30px 30px 50px;
    margin-top: -80px;
  }
}
