@import '../../../../constants';

.a{
  font-family: $fontABold;
  color: $blue;
  font-size: 40px;
  margin-bottom: 50px;
}
.a2{
  @extend .a;
  font-size: 25px;
}
.a3{
  @extend .a;
  font-size: 30px;
}
.b{
  font-family: $fontABold;
  color: $blue;
  font-size: 35px;
  margin-bottom: 50px;
}
.b2{
  color: $white;
}
.c{
  font-family: $fontABold;
  color: $white;
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 0;
}
.d{
  font-family: $fontABold;
  color: $white;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 0;
}
.e{
  font-family: $fontABold;
  color: $white;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 0;
}
.e2{
  @extend .e;
  text-align: center;
}
.e3{
  @extend .e;
  color: $yellow;
}
.f{
  font-family: $fontABold;
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid $white;
  margin-bottom: 25px;
  padding-bottom: 13px;
  margin-top: 0;
}
.g{
  font-family: $fontABold;
  color: $white;
  font-size: 30px;
  margin-bottom: 17px;
  margin-top: 0;
}
.h{
  font-family: $fontABold;
  font-size: 50px;
  color: $white;
}
@media #{$isPhone}{
  .a{
    font-size: 30px;
  }
  .b{
    font-size: 26px;
  }
  .c{
    font-size: 26px;
  }
  .e2{
    font-size: 20px;
  }
}
@media #{$isPhone}{
  .d{
    font-size: 25px;
  }
}
