.wrapper {
  background: #FAFAFA;
  height: 70px;
}

.navbarDefault {
  background-color: initial;
  border: none;
}

.navbarBrand {
  font-size: 16px;
  color: #383939;
}

.navbarNavAnchor{
  font-size: 12px;
  color: #383939;
}
