@font-face {
  font-family: noto-sans-bold;
  src: url(/fonts/notosans-bold.ttf);
}
@font-face {
  font-family: noto-sans-regular;
  src: url(/fonts/notosans-regular.ttf);
}

a:hover {
  text-decoration: none;
}
#app{
	overflow: hidden;
}

li {
  list-style-type: none;
}

*:focus {outline:0px none transparent;}

div{
  /*border: 1px solid black;*/
}
.container-fluid{
	max-width: 1024px;
}
[class*="col-"]{
    height: inherit;
}
.col-sm-6:nth-child(2n+1){
  clear: left;
}
