@import '../../../../constants';

.a{
  font-family: $fontA;
  color: $darkGray;
  font-size: 16px;
  margin-bottom: 50px;
}
.b{
  font-family: $fontABold;
  color: $darkGray;
  font-size: 16px;
  margin-bottom: 12px;
}
.c{
  font-family: $fontA;
  color: $white;
  font-size: 16px;
  margin-bottom: 25px;
  b{
    font-family: $fontABold;
  }
}
.d{
  font-family: $fontA;
  color: $white;
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}
.d2{
  @extend .d;
  font-family: $fontABold;
}
.e{
  position: relative;
  font-family: $fontA;
  color: $gray;
  font-size: 12px;
  padding-left: 35px;
  height: 110px;
  &::before{
    @extend .icon-elements;
    @include sprite($elements-location_big);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media #{$isPhone}{
  .e{
    height: 70px;
  }
}

.f{
  font: $fontA;
  font-size: 16px;
  color: $darkGray;
}
.f1{
  @extend .f;
  font-size: 21px;
  font-family: $fontABold;
}
.g{
  font-family: $fontABold;
  font-size: 25px;
  color: $white;
}
