@import '../../../../constants';


.navbarDefault {
  height: 70px;
  background-color: $white!important;
  border-color: $white!important;
}
.navbarHeader {
}
.navbarNav {
  @extend .vCenter;
  left: 250px;
}
.navbarBrand {
  @extend .vCenter;
  font-family: $fontABold;
  font-size: 16px;
  color: $darkGray!important;
  &::before{
    content: "";
    @extend .icon-layout;
    @include sprite($layout-phone_icon);
    display: block;
    float: left; 
    margin-right: 10px;
    margin-top: 1px;
  }
}

.navbarCollapse{
  border: none;
}
.navbarNavAnchor {
  font-family: $fontABold;
  font-size: 12px;
  color: $darkGray;
  text-transform: uppercase;
  &:hover {
    color: $black;
    background-color: initial;
  }
}
.socialNetwork {
  @extend .vCenter;
  right:0;
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
  }
}
.sm_icon {
  display: inline-block;
  margin-left: 15px;
}
.facebook {
  @extend .icon-layout;
  @include sprite($layout-sm_facebook);
  @extend .sm_icon;
}
.portfolio {
  @extend .icon-layout;
  @include sprite($layout-sm_portfolio);
  @extend .sm_icon;
}
 
