$elements-consulting_white: -0px -194px 23px 34px;
$elements-consultoria: -23px -194px 23px 34px;
$elements-fb: -234px -168px 23px 23px;
$elements-go: -217px -112px 16px 28px;
$elements-home_purple_bike: -119px -112px 49px 49px;
$elements-home_purple_briefcase: -168px -112px 49px 49px;
$elements-home_purple_car: -70px -112px 49px 49px;
$elements-home_purple_heart: -234px -0px 49px 49px;
$elements-home_purple_house: -234px -49px 49px 49px;
$elements-ibk: -112px -0px 122px 87px;
$elements-insurance: -234px -138px 37px 30px;
$elements-insurance_white: -70px -161px 37px 30px;
$elements-left_arrow_blue_big: -274px -124px 8px 13px;
$elements-menu: -112px -87px 30px 17px;
$elements-permit: -135px -161px 28px 27px;
$elements-permit_white: -107px -161px 28px 27px;
$elements-purple_arrow: -274px -111px 8px 13px;
$elements-red_exclamation_bubble: -0px -112px 70px 82px;
$elements-red_truck-small: -0px -0px 112px 112px;
$elements-right_arrow_blue: -271px -151px 6px 8px;
$elements-right_arrow_blue_big: -274px -98px 8px 13px;
$elements-right_arrow_yellow_big: -271px -138px 7px 13px;
$elements-tramit: -68px -194px 22px 28px;
$elements-tramit_white: -46px -194px 22px 28px;
$elements-yellow_corner: -234px -98px 40px 40px;
$home-banner-check: -364px -155px 52px 52px;
$home-banner-plecks: -0px -0px 364px 368px;
$home-banner-sheet: -416px -155px 52px 52px;
$home-banner-truck: -364px -0px 155px 155px;
$home-banner-umbrella: -364px -207px 52px 52px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon-elements {
  background-image: url(/images/sprites/sprite-elements.png);
}
.icon-home-banner {
  background-image: url(/images/sprites/sprite-home-banner.png);
}