$aboutus-big_ass_yellow_decoration: -0px -0px 1092px 1330px;
$home-banner-check: -364px -155px 52px 52px;
$home-banner-plecks: -0px -0px 364px 368px;
$home-banner-sheet: -416px -155px 52px 52px;
$home-banner-truck: -364px -0px 155px 155px;
$home-banner-umbrella: -364px -207px 52px 52px;
$elements-banner_decoration: -0px -0px 354px 274px;
$elements-consulting_white: -269px -274px 23px 34px;
$elements-consultoria: -292px -274px 23px 34px;
$elements-fb: -359px -274px 23px 23px;
$elements-go: -143px -323px 16px 28px;
$elements-home_purple_bike: -354px -194px 49px 49px;
$elements-home_purple_briefcase: -403px -194px 49px 49px;
$elements-home_purple_car: -122px -274px 49px 49px;
$elements-home_purple_heart: -171px -274px 49px 49px;
$elements-home_purple_house: -220px -274px 49px 49px;
$elements-ibk: -0px -274px 122px 87px;
$elements-insurance: -354px -243px 37px 30px;
$elements-insurance_white: -424px -152px 37px 30px;
$elements-left_arrow_blue_big: -452px -207px 8px 13px;
$elements-location_big: -122px -323px 21px 36px;
$elements-menu: -382px -274px 30px 17px;
$elements-permit: -419px -243px 28px 27px;
$elements-permit_white: -391px -243px 28px 27px;
$elements-purple_arrow: -452px -220px 8px 13px;
$elements-red_exclamation_bubble: -354px -112px 70px 82px;
$elements-red_truck-small: -354px -0px 112px 112px;
$elements-right_arrow_blue: -424px -182px 6px 8px;
$elements-right_arrow_blue_big: -452px -194px 8px 13px;
$elements-right_arrow_yellow_big: -447px -243px 7px 13px;
$elements-tramit: -315px -274px 22px 28px;
$elements-tramit_white: -337px -274px 22px 28px;
$elements-yellow_corner: -424px -112px 40px 40px;
$layout-phone_icon: -0px -30px 25px 16px;
$layout-sm_facebook: -0px -0px 30px 30px;
$layout-sm_portfolio: -30px -0px 30px 30px;
$layout-yellowFleck_small: -25px -30px 10px 10px;
$services-big_truck_mx: -364px -0px 145px 71px;
$services-big_truck_usa: -364px -71px 145px 71px;
$services-consulting_lg: -112px -0px 112px 112px;
$services-consulting_red: -139px -366px 23px 34px;
$services-consulting_white: -116px -366px 23px 34px;
$services-consultoria_y: -0px -366px 60px 88px;
$services-insurance_lg: -112px -112px 112px 112px;
$services-insurance_red: -313px -158px 37px 30px;
$services-insurance_white: -412px -295px 37px 30px;
$services-list_button: -313px -188px 35px 20px;
$services-list_button_hover: -412px -325px 35px 20px;
$services-list_style: -364px -284px 10px 10px;
$services-menu_icon: -447px -325px 30px 17px;
$services-mexflag: -290px -224px 56px 57px;
$services-nuevo_entrante: -364px -213px 145px 71px;
$services-permisos_usa: -364px -142px 145px 71px;
$services-permits_lg: -0px -0px 112px 112px;
$services-permits_red: -477px -295px 28px 27px;
$services-permits_white: -449px -295px 28px 27px;
$services-placas_mx: -234px -295px 89px 50px;
$services-placas_usa: -323px -295px 89px 50px;
$services-seguros_mx: -224px -79px 140px 79px;
$services-seguros_usa: -224px -0px 140px 79px;
$services-tramits_lg: -0px -112px 112px 112px;
$services-tramits_red: -162px -366px 22px 28px;
$services-tramits_white: -184px -366px 22px 28px;
$services-usflag: -60px -366px 56px 55px;
$services-white_placas_mx: -145px -295px 89px 50px;
$services-white_placas_us: -224px -158px 89px 50px;
$services-white_truck: -145px -224px 145px 71px;
$services-white_truck_mx: -0px -224px 145px 71px;
$services-white_truck_usa: -0px -295px 145px 71px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon-aboutus {
  background-image: url(/images/sprites/sprite-aboutus.png);
}
.icon-home-banner {
  background-image: url(/images/sprites/sprite-home-banner.png);
}
.icon-elements {
  background-image: url(/images/sprites/sprite-elements.png);
}
.icon-layout {
  background-image: url(/images/sprites/sprite-layout.png);
}
.icon-services {
  background-image: url(/images/sprites/sprite-services.png);
}