@import '../../../../constants';

.a{
  width: 100%;
 }
 .b{
 	@extend .vCenter;
 	max-width: 100%;
 }
 .c{
 	margin: 0 auto 20px;
 	display: block;
 }
 .c{
 	max-width: 100%;
 }
 .d{
 	max-width: 100%;
 	margin-bottom: 75px;
 }

